body {
	background:#eeeeff;
}

h1,h2,h3,h4,h5,h6,p.lead,label.galeria {
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-size:72px;
	line-height:72px;
}

.logo {
 height:60px !important;
}

p.lead {
	font-size:36px;
	line-height:36px;
	margin-top:25px;
}

label.galeria {
	font-size:24px;
	line-height:24px;
}

.inputCorpo {
	width:90%;
	height:400px;
}

.carousel input[type="radio"] {
	display:none;
}

.carousel img {
	border:5px solid transparent;
	margin-right:10px;
	cursor:pointer;
}

.carousel img.galeriaSelecionado {
	border-color:#ffff00;
}

#seletorCapa img {
	border:5px solid transparent;
	margin-right:10px;
	cursor:pointer;
}

#seletorCapa img.galeriaSelecionado {
	border-color:#ffff00;
}

.carousel img {
}

.spanCarousel {
	margin:0;
}

#trigger1 {top:20px;}
#trigger2 {top:60px;}

a.caixaFundo{
	position: absolute;
	background:#88bbd4;
	text-decoration: none;
	font-size: 16px;
	letter-spacing:-1px;
	color:#fff;
	padding:6px 12px 6px 24px;
	font-weight: bold;
	
	z-index:2;
}
a.caixaFundo.left {
	left: 0;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
a.caixaFundo.right {
	right: 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}
a.caixaFundo:hover {
	background-color:#59B;
}
a.active.caixaFundo {
	background:#666;
}

.ajuda {
	display:none;
	font-size:11px;
	line-height:13px;
}

span.tagMatches {
  margin-left: 10px;
}

span.tagMatches span {
  cursor:pointer;
  background: #ffee00;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

span.tagMatches span::before {
  background: #eeeeff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

span.tagMatches span::after {
  background: #eeeeff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #ffee00;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

span.tagMatches span:hover {
  background-color: crimson;
  color: white;
}

span.tagMatches span:hover::after {
   border-left-color: crimson; 
}


#painel ul.itens {
	margin:20px 0 0 5px;
	list-style:none;
}


#painel ul.itens li {
	font-size:14px;
	margin:5px 0;
	padding:0;
}

#painel ul.itens li a {
	margin:0 0 0 10px;
}

.fotoBlog {
	float:left;
	display:inline;
	margin: 0 10px 10px 0;
}

#forjaGaleria img {
	float:left;
	display:inline;
	margin: 0 10px 10px 0;
	cursor:pointer;
}
